<!-- start top bar -->
<div id="top-bar" class="top-bar--style-1" [ngClass]="{'expanded': navigationClicked}">
  <div class="container">
    <a id="top-bar__logo" class="site-logo" href="javascript:void(0);" [routerLink]="['/']">
      
    </a>
    <a id="top-bar__navigation-toggler" [ngClass]="{'active': navigationClicked}" href="javascript:void(0);"
      (click)="navigationClicked = !navigationClicked"><span></span></a>
    <nav id="top-bar__navigation" role="navigation">
      <ul>
        <!-- <li class="current">
            <a href="javascript:void(0);">Home</a>
            <div class="submenu">
              <ul>
                <li class="current"><a href="index.html">Home Style 1</a></li>
                <li><a href="../style_2/index.html" target="_blank">Home Style 2</a></li>
                <li><a href="../landing/index.html" target="_blank">One Page</a></li>
              </ul>
            </div>
          </li> -->
        <!-- <li>
            <a href="javascript:void(0);">Pages</a>
            <div class="submenu">
              <ul>
                <li><a href="about.html">about</a></li>
                <li><a href="products.html">products</a></li>
                <li><a href="product_case.html">product case</a></li>
                <li><a href="404.html">404 page</a></li>
              </ul>
            </div>
          </li> -->
        <li [ngClass]="{'current': router.url == '/'}">
          <a href="javascript:void(0);" [routerLink]="['/']">Home</a>
        </li>
        <li [ngClass]="{'current': router.url == '/products'}">
          <a href="javascript:void(0);" [routerLink]="['/products']">Our Menu</a>
        </li>
        <li [ngClass]="{'current': router.url == '/hydroponics'}">
          <a href="javascript:void(0);" [routerLink]="['/hydroponics']">Hydroponics</a>
        </li>
        <li [ngClass]="{'current': router.url == '/about'}">
          <a href="javascript:void(0);" [routerLink]="['/about']">About Us</a>
        </li>
        <!-- <li [ngClass]="{'current': router.url == '/blog'}">
          <a href="javascript:void(0);">Blog</a>
        </li> -->
        <li [ngClass]="{'current': router.url == '/contact'}">
          <a href="javascript:void(0);" [routerLink]="['/contact']">Contact Us</a>
        </li>
        <li class="li-btn"><a class="custom-btn primary" href="javascript:void(0);" (click)="openDialog()">Subscribe Now</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- end top bar -->