<section
  id="testimonials"
  class="section jarallax"
  style="display: none !important; background-color: #282828;"
  data-speed="0.4"
  data-img-position="50% 50%"
>
  <div class="container">
    <div class="section-heading section-heading--center section-heading--white">
      <h2 class="title">Testimonials</h2>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-lg-11">
        <div class="feedbacks feedbacks--slider feedbacks--style-1">
          <div class="owl-carousel owl-theme">
            <!-- start item -->
            <article class="feedback__item">
              <!-- <div class="feedback__author">
                  <div class="feedback__author__photo  mx-auto">
                    <img class="circled  img-fluid" src="../img/users_photos/4.png" height="140" width="140" alt="demo" />
                  </div>

                  <h4 class="feedback__author__name">Alex Roberts</h4>

                  <p class="feedback__author__position">Farmer, AgroHolding</p>
                </div> -->

              <div class="feedback__text">
                <p>
                  “Absorbent lower warranty smart deluxe lasting sporty fast
                  customer spring rated. Free every challenge your spicey racy.
                  Introducing handcrafted credit-card like supreme monster just
                  hurry fresh outlasts flip quality.
                </p>
              </div>
            </article>
            <!-- end item -->

            <!-- start item -->
            <article class="feedback__item">
              <!-- <div class="feedback__author">
                  <div class="feedback__author__photo  mx-auto">
                    <img class="circled  img-fluid" src="../img/users_photos/4.png" height="140" width="140" alt="demo" />
                  </div>

                  <h4 class="feedback__author__name">Alex Roberts</h4>

                  <p class="feedback__author__position">Farmer, AgroHolding</p>
                </div> -->

              <div class="feedback__text">
                <p>
                  “Absorbent lower warranty smart deluxe lasting sporty fast
                  customer spring rated. Free every challenge your spicey racy.
                  Introducing handcrafted credit-card like supreme monster just
                  hurry fresh outlasts flip quality. Value far mouthwatering
                  wherever try offer ultra aroma
                </p>
              </div>
            </article>
            <!-- end item -->

            <!-- start item -->
            <article class="feedback__item">
              <!-- <div class="feedback__author">
                  <div class="feedback__author__photo  mx-auto">
                    <img class="circled  img-fluid" src="../img/users_photos/4.png" height="140" width="140" alt="demo" />
                  </div>

                  <h4 class="feedback__author__name">Alex Roberts</h4>

                  <p class="feedback__author__position">Farmer, AgroHolding</p>
                </div> -->

              <div class="feedback__text">
                <p>
                  “Absorbent lower warranty smart deluxe lasting sporty fast
                  customer spring rated. Free every challenge your spicey racy.
                  Introducing handcrafted credit-card like supreme monster just
                  hurry fresh outlasts flip quality. Value far mouthwatering
                  wherever try offer ultra aroma Introducing handcrafted
                  credit-card like supreme monster
                </p>
              </div>
            </article>
            <!-- end item -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
