<!-- start header -->
<header class="intro  align-items-center  jarallax" data-speed="0.5" data-img-position="50% 33%" style="background-image: url('https://png.pngtree.com/thumb_back/fh260/back_pic/03/80/37/2757c3ea05d908b.jpg');">
    <div class="pattern" style="opacity: 0.5;"></div>

    <div class="container">
        <div class="intro__text">
            <h1 class="intro__title">{{ product?.Name }}</h1>
        </div>
    </div>
</header>
<!-- end header -->

<main role="main">
    <!-- start section -->
    <section class="section">
        <div class="container">
            <div class="single-content">
                <h2 class="title">{{ product?.Name }} Overview</h2>

                <div class="row">
                    <div class="col-md-6 col-lg-8">
                        <div class="column">
                            <h4>{{ product?.Discription }}</h4>
                        </div>
                        <div class="column">
                            <h5>Ingredient</h5>
                            <p>{{ product?.Ingredient }}</p>
                        </div>
                        <div class="column">
                            <h5>Price</h5>
                            <p>{{ product?.Price }}</p>
                        </div>
                    </div>

                    <div class="col-lg-3 offset-xl-1">
                        <div class="column">
                            <ul class="details">
                                <li>
                                    <p class="title">Quantity(Grams)</p>
                                    <strong>{{ product?.Nutritians.Quantity }}</strong>
                                </li>

                                <li>
                                    <p class="title">Calories</p>
                                    <strong>{{ product?.Nutritians.Calories }}</strong>
                                </li>

                                <li>
                                    <p class="title">Proteins(Grams)</p>
                                    <strong>{{ product?.Nutritians.Proteins }}</strong>
                                </li>

                                <li>
                                    <p class="title">Carbs</p>
                                    <strong>{{ product?.Nutritians.Carbs }}</strong>
                                </li>

                                <li>
                                    <p class="title">Fats</p>
                                    <strong>{{ product?.Nutritians.Fats }}</strong>
                                </li>

                                <li>
                                    <p class="title">Fiber</p>
                                    <strong>{{ product?.Nutritians.Fiber }}</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-MB-30"></div>

                <div class="row flex-lg-row-reverse">
                    <div class="col-lg-6" *ngFor="let img of product?.Images; let i = index">
                        <div class="column">
                            <img *ngIf="isSalad" class="img-fluid" src="../../../../../assets/img/Salads/{{ product.Name }}/{{
                  product.Images[i]
                }}" alt="demo" />
                            <img *ngIf="isJuice" class="img-fluid" src="../../../../../assets/img/Cold pressed juices/{{ product.Name }}/{{
                product.Images[i]
              }}" alt="demo" />
                            <img *ngIf="other" class="img-fluid" src="../../../../../assets/img/Others/{{
                product.Images[i]
              }}" alt="demo" />
                        </div>
                    </div>
                </div>
                <div class="col-MB-30"></div>
            </div>
        </div>
    </section>
    <!-- end section -->
</main>