<!-- start header -->
<header
  class="intro align-items-center jarallax"
  data-speed="0.5"
  data-img-position="50% 70%"
  style="background-image: url('../../../../assets/img/bg/bg_1.jpg');"
>
  <div class="pattern" style="opacity: 0.25;"></div>

  <div class="container">
    <div class="intro__text">
      <p class="intro__subtitle">Meet</p>
      <h1 class="intro__title">Saladè team</h1>
    </div>
  </div>
</header>
<!-- end header -->

<main role="main">
  <!-- start section -->
  <section class="section section--no-pb">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="col-MB-30">
            <h2>Team Saladé</h2>

            <h4>
              Hey there, are you in search in clean & fresh food? Come, let's
              end the search because SALADE is here to cater the same.
            </h4>
          </div>

          <p>
            The atmosphere around us is getting contaminated with the passing
            day & food hasn't managed to escape the clutches of pollution.
          </p>

          <p>
            As they say -
            <b>A healthy outside starts from the healthy inside.</b>
          </p>

          <p>
            So let's begin..
          </p>

          <p class="col-lg-MB-20">&nbsp;</p>
        </div>

        <div class="col-lg-4 offset-lg-1">
          <div class="col-MB-30">
            <img
              width="200px"
              class="d-block mx-auto img-fluid"
              src="../../../../assets/img/logo/SaladeGreen.png"
              alt="demo"
            />
          </div>

          <div class="col-MB-30">
            <h2>
              Taste the Nature
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->

  <!-- start section -->
  <section class="section section--no-pt section--no-pb section-team">
    <div class="container">
      <div class="team">
        <div class="team__inner">
          <div class="row no-gutters">
            <!-- start item -->
            <div class="col-12 col-lg-6">
              <div class="team__item team__item--text">
                <div>
                  <h2>Our Dream Team</h2>
                  <p>
                    We at SALADE is a team of 4 passionate foodies & we believe
                    in eating clean! What we eat is what we become, right? Yes,
                    most of us want to consume clean but do we really get the
                    same? Not really!
                  </p>
                  <p>
                    Hence, we at SALADE place an emphasis on cultivating our own
                    food which is clean & pesticide free💚 Don't believe? Come,
                    visit us & experience the freshness of nature
                  </p>
                </div>
              </div>
              
            </div>
            <div class="col-12 col-lg-6 text-center">
              <p class="mt-5">
                <a class="custom-btn primary big" href="about.html#"
                  >Connect with us</a
                >
              </p>
            </div>
            <!-- end item -->

            <!-- start item -->
            <div class="col-12 col-md-6 col-lg-3">
              <div class="team__item">
                <div class="team__item__inner">
                  <!-- <figure>
                    <img src="../../../../assets/img/blank.gif" style="background-image: url('../../../../assets/img/team_img/1.jpg');" alt="demo" />

                    <div class="team__item__descriptiom">
                      <span class="team__item__title">William Doe</span>
                      <span class="team__item__subtitle">Agronomist</span>
                    </div>
                  </figure> -->
                </div>
              </div>
            </div>
            <!-- end item -->

            <!-- start item -->
            <div class="col-12 col-md-6 col-lg-3">
              <div class="team__item">
                <div class="team__item__inner">
                  <!-- <figure>
                    <img
                      src="../../../../assets/img/blank.gif"
                      style="background-image: url('../../../../assets/img/team_img/2.jpg');"
                      alt="demo"
                    />

                    <div class="team__item__descriptiom">
                      <span class="team__item__title">Jack Silver</span>
                      <span class="team__item__subtitle">Tractor-Driver</span>
                    </div>
                  </figure> -->
                </div>
              </div>
            </div>
            <!-- end item -->

            <!-- start item -->
            <!-- <div class="col-12 col-md-6 col-lg-3">
              <div class="team__item">
                <div class="team__item__inner">
                  <figure>
                    <img
                      src="../../../../assets/img/blank.gif"
                      style="background-image: url('../../../../assets/img/team_img/3.jpg');"
                      alt="demo"
                    />

                    <div class="team__item__descriptiom">
                      <span class="team__item__title">Purushottam Kadam</span>
                      <span class="team__item__subtitle">Assistant</span>
                    </div>
                  </figure>
                </div>
              </div>
            </div> -->
            <!-- end item -->

            <!-- start item -->
            <!-- <div class="col-12 col-md-6 col-lg-3">
              <div class="team__item">
                <div class="team__item__inner">
                  <figure>
                    <img
                      src="../../../../assets/img/blank.gif"
                      style="background-image: url('../../../../assets/img/team_img/4.jpg');"
                      alt="demo"
                    />

                    <div class="team__item__descriptiom">
                      <span class="team__item__title">John Connor</span>
                      <span class="team__item__subtitle">Combine Operator</span>
                    </div>
                  </figure>
                </div>
              </div>
            </div> -->
            <!-- end item -->

            <!-- start item -->
            <!-- <div class="col-12 col-md-6 col-lg-3">
              <div class="team__item">
                <div class="team__item__inner">
                  <figure>
                    <img
                      src="../../../../assets/img/blank.gif"
                      style="background-image: url('../../../../assets/img/team_img/5.jpg');"
                      alt="demo"
                    />

                    <div class="team__item__descriptiom">
                      <span class="team__item__title">Steve Jonson</span>
                      <span class="team__item__subtitle">Farmer</span>
                    </div>
                  </figure>
                </div>
              </div>
            </div> -->
            <!-- end item -->

            <!-- start item -->
            <!-- <div class="col-12 col-md-6 col-lg-3">
              <div class="team__item">
                <div class="team__item__inner">
                  <figure>
                    <img
                      src="../../../../assets/img/blank.gif"
                      style="background-image: url('../../../../assets/img/team_img/6.jpg');"
                      alt="demo"
                    />

                    <div class="team__item__descriptiom">
                      <span class="team__item__title">Allan Bolt</span>
                      <span class="team__item__subtitle">Mechanic</span>
                    </div>
                  </figure>
                </div>
              </div>
            </div> -->
            <!-- end item -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->

  <!-- start section -->
  <section
    class="section section--background-base-light section--background-logo"
  >
    <div class="container">
      <div class="section-heading section-heading--left">
        <h2 class="title">4 Steps towards good health</h2>
      </div>
      <div class="timeline">
        <div class="timeline__inner">
          <div class="row">
            <!-- start item -->
            <div class="col-md-3">
              <div class="timeline__item">
                <p class="timeline__year">Grow</p>
                <h4 class="timeline__title">
                  We grow our own pesticide free microgreen hydroponically
                </h4>
              </div>
            </div>
            <!-- end item -->
            <!-- start item -->
            <div class="col-md-3">
              <div class="timeline__item">
                <p class="timeline__year">Harvest</p>
                <h4 class="timeline__title">
                  Greens are harvested to maintain maximum nutrition value
                </h4>
              </div>
            </div>
            <!-- end item -->
            <!-- start item -->
            <div class="col-md-3">
              <div class="timeline__item">
                <p class="timeline__year">Make</p>
                <h4 class="timeline__title">
                  Trained and Professional chefs make nutritious salad for you
                </h4>
              </div>
            </div>
            <!-- end item -->
            <!-- start item -->
            <div class="col-md-3">
              <div class="timeline__item">
                <p class="timeline__year">Deliver</p>
                <h4 class="timeline__title">
                  Get your favourite and fresh salad in your bowl in your city
                </h4>
              </div>
            </div>
            <!-- end item -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
</main>
